language: bash
services: docker

branches:
  only:
    - master

env:
  - FOLDER=7.4/buster/zts TAGS=7.4-zts,7.4.4-zts,7.4-buster-zts,7.4.4-buster-zts
  - FOLDER=7.4/alpine3.11/zts TAGS=7.4-alpine-zts,7.4.4-alpine-zts,7.4-alpine3.11-zts,7.4.4-alpine3.11-zts
  - FOLDER=7.4/alpine3.10/zts TAGS=7.4-alpine3.10-zts,7.4.4-alpine3.10-zts
  - FOLDER=7.4/buster/fpm TAGS=7.4-fpm,7.4.4-fpm,7.4-buster-fpm,7.4.4-buster-fpm
  - FOLDER=7.4/alpine3.11/fpm TAGS=7.4-alpine-fpm,7.4.4-alpine-fpm,7.4-alpine3.11-fpm,7.4.4-alpine3.11-fpm
  - FOLDER=7.4/alpine3.10/fpm TAGS=7.4-alpine3.10-fpm,7.4.4-alpine3.10-fpm
  - FOLDER=7.4/buster/cli TAGS=7.4,7.4.4,7.4-cli,7.4.4-cli,7.4-buster,7.4.4-buster,7.4-buster-cli,7.4.4-buster-cli
  - FOLDER=7.4/alpine3.11/cli TAGS=7.4-alpine,7.4.4-alpine,7.4-alpine-cli,7.4-alpine3.11,7.4.4-alpine-cli,7.4.4-alpine3.11,7.4-alpine3.11-cli,7.4.4-alpine3.11-cli
  - FOLDER=7.4/alpine3.10/cli TAGS=7.4-alpine3.10,7.4.4-alpine3.10,7.4-alpine3.10-cli,7.4.4-alpine3.10-cli
  - FOLDER=7.4/buster/apache TAGS=7.4-apache,7.4.4-apache,7.4-buster-apache,7.4.4-buster-apache
  - FOLDER=7.3/stretch/zts TAGS=7.3-stretch-zts,7.3.16-stretch-zts
  - FOLDER=7.3/buster/zts TAGS=7.3-zts,7.3.16-zts,7.3-buster-zts,7.3.16-buster-zts
  - FOLDER=7.3/alpine3.11/zts TAGS=7.3-alpine-zts,7.3.16-alpine-zts,7.3-alpine3.11-zts,7.3.16-alpine3.11-zts
  - FOLDER=7.3/alpine3.10/zts TAGS=7.3-alpine3.10-zts,7.3.16-alpine3.10-zts
  - FOLDER=7.3/stretch/fpm TAGS=7.3-stretch-fpm,7.3.16-stretch-fpm
  - FOLDER=7.3/buster/fpm TAGS=7.3-fpm,7.3.16-fpm,7.3-buster-fpm,7.3.16-buster-fpm
  - FOLDER=7.3/alpine3.11/fpm TAGS=7.3-alpine-fpm,7.3.16-alpine-fpm,7.3-alpine3.11-fpm,7.3.16-alpine3.11-fpm
  - FOLDER=7.3/alpine3.10/fpm TAGS=7.3-alpine3.10-fpm,7.3.16-alpine3.10-fpm
  - FOLDER=7.3/stretch/cli TAGS=7.3-stretch,7.3.16-stretch,7.3-stretch-cli,7.3.16-stretch-cli
  - FOLDER=7.3/buster/cli TAGS=7.3,7.3.16,7.3-cli,7.3.16-cli,7.3-buster,7.3.16-buster,7.3-buster-cli,7.3.16-buster-cli
  - FOLDER=7.3/alpine3.11/cli TAGS=7.3-alpine,7.3.16-alpine,7.3-alpine-cli,7.3-alpine3.11,7.3.16-alpine-cli,7.3.16-alpine3.11,7.3-alpine3.11-cli,7.3.16-alpine3.11-cli
  - FOLDER=7.3/alpine3.10/cli TAGS=7.3-alpine3.10,7.3.16-alpine3.10,7.3-alpine3.10-cli,7.3.16-alpine3.10-cli
  - FOLDER=7.3/stretch/apache TAGS=7.3-stretch-apache,7.3.16-stretch-apache
  - FOLDER=7.3/buster/apache TAGS=7.3-apache,7.3.16-apache,7.3-buster-apache,7.3.16-buster-apache
  - FOLDER=7.2/stretch/zts TAGS=7.2-stretch-zts,7.2.29-stretch-zts
  - FOLDER=7.2/buster/zts TAGS=7.2-zts,7.2.29-zts,7.2-buster-zts,7.2.29-buster-zts
  - FOLDER=7.2/alpine3.11/zts TAGS=7.2-alpine-zts,7.2.29-alpine-zts,7.2-alpine3.11-zts,7.2.29-alpine3.11-zts
  - FOLDER=7.2/alpine3.10/zts TAGS=7.2-alpine3.10-zts,7.2.29-alpine3.10-zts
  - FOLDER=7.2/stretch/fpm TAGS=7.2-stretch-fpm,7.2.29-stretch-fpm
  - FOLDER=7.2/buster/fpm TAGS=7.2-fpm,7.2.29-fpm,7.2-buster-fpm,7.2.29-buster-fpm
  - FOLDER=7.2/alpine3.11/fpm TAGS=7.2-alpine-fpm,7.2.29-alpine-fpm,7.2-alpine3.11-fpm,7.2.29-alpine3.11-fpm
  - FOLDER=7.2/alpine3.10/fpm TAGS=7.2-alpine3.10-fpm,7.2.29-alpine3.10-fpm
  - FOLDER=7.2/stretch/cli TAGS=7.2-stretch,7.2.29-stretch,7.2-stretch-cli,7.2.29-stretch-cli
  - FOLDER=7.2/buster/cli TAGS=7.2,7.2.29,7.2-cli,7.2.29-cli,7.2-buster,7.2.29-buster,7.2-buster-cli,7.2.29-buster-cli
  - FOLDER=7.2/alpine3.11/cli TAGS=7.2-alpine,7.2.29-alpine,7.2-alpine-cli,7.2-alpine3.11,7.2.29-alpine-cli,7.2.29-alpine3.11,7.2-alpine3.11-cli,7.2.29-alpine3.11-cli
  - FOLDER=7.2/alpine3.10/cli TAGS=7.2-alpine3.10,7.2.29-alpine3.10,7.2-alpine3.10-cli,7.2.29-alpine3.10-cli
  - FOLDER=7.2/stretch/apache TAGS=7.2-stretch-apache,7.2.29-stretch-apache
  - FOLDER=7.2/buster/apache TAGS=7.2-apache,7.2.29-apache,7.2-buster-apache,7.2.29-buster-apache

script:
  - cd $FOLDER
  - IMAGESLIST=()
  - IFS=, read -a TAGSLIST <<< "$TAGS"
  - |
    for TAG in "${TAGSLIST[@]}"
    do
      IMAGE="solune/symfony:${TAG}"
      echo "Building image ${TAG}"
      docker build . -t "${IMAGE}"
      IMAGESLIST+=("${IMAGE}")
    done

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - |
    for IMAGE in "${IMAGESLIST[@]}"
    do
      echo "Pushing $IMAGE to the registry"
      docker push "${IMAGE}"
    done
